/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
   padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #fbdeff;
    padding: 8px;
}

footer {
    text-align: center;
    background-color: #8c8c8d;
}

